body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: darkslateblue;
    color: white;
}

h1 {
    margin: 10vh;
}

h3 {
    margin: 5vh 10vh;
}

button {
    font-size: larger;
    padding: 10px;
    margin: 10px;
    color: black;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

